[Unit]
Description=Docker - Postgres - Atlassian Confluence container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a atlassian-confluence-postgres
ExecStop=/usr/bin/docker stop -t 2 atlassian-confluence-postgres

[Install]
WantedBy=default.target
